ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#F5F5F5;
  }
  li {
    float: right;
  }
  li a {
    display: block;
    color:  #175919;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
  }
  
  li a:hover:not(.active) {
    background-color: white;
  }
  
  .active {
    font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 25px;
line-height: 30px;
  }
  /*-------------------------------------------------------------------*/
  .center{
    display: flex;
    align-items: center;
  }
  .her{
    position: absolute;
    width: 499px;
    height: 140px;
    left: 133px;
    top: 100px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    color: #F7F8E2;
  }
  .start{
font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 32px;
text-align: center;
  }
  .bg-img {
    /* The image used */
    background-image:url("image\ 2.png");
    min-height: 500px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
  }
  .date{
    display: flex;
  }
  .data1{
gap: 10px;
background: rgba(247, 248, 226, 0.7);
border-radius: 40px;
  }
  .ckeck{
    display: flex;
  }
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    opacity: 0.7;
  }
  
  /* Full-width input fields */
  input[type=text]{
    width: 100%;
    padding: 5px;
    border: none;
    margin: 1px 0 22px 0;
    background: #f1f1f1;
    background: rgba(247, 248, 226, 0.7);
   border: 1px solid #F7F8E2;
    border-radius: 5px;

  }
  
  input[type=text]:focus{
    background-color: #ddd;
    outline: none;
  }
  /* Set a style for the submit button */
  .btn{
    background: #175919;
    border-radius: 40px;
    color: #F7F8E2;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 31px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  .btn1{
    position: absolute;
   width: 295px;
   height: 74px;
   bottom: 20px;
  left:180px;
   background: #F7F8E2;
   border-radius: 40px;
   border-style: none;
 /* Plan your trip */
       right: 340px;
       top: 300px;
   font-family: 'Source Serif Pro';
   font-style: normal;
   font-weight: 600;
   font-size: 30px;
   color: #3A3C42;
 }
.footerp{
    font-family: 'Source Serif Pro';
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 69px;
    /* identical to box height */
    color: #175919;
      }
      .flex{
display: flex;
justify-content: center;
gap: 5rem;
    }

  .icon {
    padding: 30px;
    border-radius:50%;
    background: rgba(223, 222, 202, 0.7);
  }
  h3{
     font-family: 'Source Serif Pro';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 31px;
text-align: center;
color: #000000;
  }

